<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ioad.honey">
    <!-- 주소 API를 위한 권한 -->
    <!-- <uses-sdk tools:overrideLibrary="com.gomcorp.vrix.android" /> -->
    <!-- 문자 인증을 위한권한 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Honey">
        <activity
            android:name=".activity.BuyActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MyPageEditActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SearchActivity"
            android:exported="true" />
        <activity
            android:name=".activity.BuyHistoryActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MyPageActivity"
            android:exported="true" />
        <activity
            android:name=".activity.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DaumActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JoinAddrActivity"
            android:exported="false" />
        <activity
            android:name=".activity.JoinActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainCategoryActivity"
            android:exported="false"
            />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>